{{#> layouts/base title="ptyapp.com" }}
{{#*inline "head-block"}}
    <link rel="stylesheet" href="index.css">
{{/inline}}
{{#*inline "hero-block"}}
    <h1><a href="/">ptyapp</a></h1>
    <div class="appList">
        <h2><a href="app/clock">analog clock</a></h2>
        <p>HTML5 analog clock using canvas api. Offline version is available on <a href="https://chrome.google.com/webstore/detail/cbfcckmhbpkjgfcnbgfmdodnlokimjdc">Chrome Web Store</a>.</p>

        <h2><a href="app/dclock">digital clock</a></h2>
        <p>A digital clock that is automatically updated.</p>

        <h2><a href="app/fastfood">fastest fastfood</a></h2>
        <p>Find the nearest McDonald's shop (currently only in Japan).</p>

        <h2><a href="https://chrome.google.com/webstore/detail/epeckgeilgaojhfffkepefefbmjaefom">Realtimetter</a></h2>
        <p>Twitter Streaming API Client for Google Chrome.</p>

        <h2><a href="https://chrome.google.com/webstore/detail/bfmmgjclocibcddieegokodcjieeapon">Package Tracker</a></h2>
        <p>Track packages (currently only in Japan) via Chrome's context menus.</p>
    </div>

    <div class="authorInfo">
        <p><a href="#" id="contactUs">Contact us</a></p>
        <p style="text-align:right"><a href="https://hidekiy.com/">hidekiy.com</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="index.js"></script>
{{/inline}}
{{/layouts/base}}
