<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#> head-block}}
        {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
    {{> includes/tagmanager }}
</head>
<body>
    {{> includes/tagmanager-noscript }}
    {{#> hero-block}}
        {{!-- Hero content goes here. --}}
    {{/hero-block}}
  </body>
</html>
